<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>
<body>
    <%- include ../partials/navbarProv.ejs %>
    <div class="container">
        <!-- ADD CONTENT HERE -->
        <h5>Finished Jobs</h5>
        <table>
            <tr>
                <td>id</td>
                <td>Title</td>
                <td>Body</td>
                <td>Price</td>
                <td>Finished On</td>
            </tr>
            <% posts.forEach((post,index) => { %>
            <tr>
                <td><%- index+1 %></td>
                <td><a href=""><%- post.title %></a></td>
                <td><%- post.body %></td>
                <td><%- post.price %></td>
                <td style="text-align: center"><%- post.updatedAt %></td>
            </tr>
                <% }) %>
        </table>
    </div>

<%- include ../partials/loadScript.ejs %>
</body>
</html>