<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>
<body>
    <%- include ../partials/navbar.ejs %>
    <div class="container">
        <!-- ADD CONTENT HERE -->
        <h5><blockquote>Job Details</blockquote></h5>
        <div class="card white">
            <div class="card-content">
                <div class="row">
                    <a href="./jobDetails"><h5><%= post.title %> </h5></a>
                    <h6 class="teal-text"> <%- inRupiah(post.price) %> </h6>
                    <p> <%= post.body %> </p><br>
                </div>
                <div class="row">
                    <div class="col s6">
                        <img width="300px" height="auto" class="center" 
                        src="https://maps.googleapis.com/maps/api/staticmap?center=<%= post.lat %>, <%= post.lng %>&zoom=12&size=400x400&markers=color:red%7Clabel:%7C<%= post.lat %>,<%= post.lng %>&key=AIzaSyBvszf7pWDZ7MA-umkI-U7EEAj8jTYTLDQ">
                    </div>
                    <div class="col s6">
                        <h6>Address</h6>
                        <p><%= address %></p><br>
                        <a class="btn">take this job</a>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
<%- include ../partials/loadScript.ejs %>
</body>
</html>